{% extends 'base.html' %}


{% block body %}     
    <div class="row mt-5">
        <div class="col-lg-12">
            <h1 class="display-4 text-center mb-4">Bem-vindo ao Blog do Prof. Jeferson Queiroga!</h1>

            <p class="lead">
                É com grande prazer que o recebemos no nosso espaço digital de troca de conhecimentos, discussões construtivas e descobertas inspiradoras. Aqui, exploramos o universo vasto e empolgante da informática, dirigido por ninguém menos que o Prof. Jeferson Queiroga.
            </p>

            <p>
                O Professor Jeferson é um renomado membro do corpo docente do IFRN (Instituto Federal do Rio Grande do Norte), onde se dedica ao ensino da informática, combinando metodologias inovadoras com sólido conhecimento técnico para inspirar e formar a próxima geração de profissionais da área.
            </p>

            <p>
                Formado em Ciência da Computação pela Universidade Federal do Rio Grande do Norte (UFRN), o Prof. Jeferson possui um vasto conhecimento em diversas áreas da informática. Além disso, seu Mestrado em Ciência da Computação pela Universidade Federal Rural do Semi-Árido (UFERSA) ampliou ainda mais seu repertório acadêmico, contribuindo para a profundidade e diversidade de conteúdo que você encontrará neste blog.
            </p>

            <p class="mb-4">
                Aqui, iremos explorar tópicos de ponta a ponta no universo da informática - desde conceitos fundamentais até as tecnologias mais avançadas. Além disso, vamos mergulhar em discussões sobre os últimos avanços no campo, compartilhar insights valiosos e provocar reflexões sobre o futuro da Ciência da Computação.
            </p>

            <h2 class="mb-4">Sinta-se à vontade para explorar, ler, aprender e contribuir para as discussões.</h2>

            <p class="lead">
              Seja muito bem-vindo e aproveite a jornada!
            </p>
        </div>
    </div>
{% endblock  %}
