{% extends 'base.html' %}

{% block body %}     
  <h2>Página 1</h2>     
  <p>A Pró-Reitoria de Ensino do Instituto Federal do Rio Grande do Norte (Proen/IFRN) publicou o Edital para o Programa de Iniciação Tecnológica e Cidadania (ProITEC) 2023.

    O Programa tem o objetivo de aprofundar a aprendizagem de estudantes das escolas da rede pública de ensino do Rio Grande do Norte, contemplando as disciplinas de Língua Portuguesa, Matemática e Ética e Cidadania.
    
    Não há limite de vagas. O ProITEC é destinado a estudantes matriculados no 9º ano do ensino fundamental em escola da rede pública de ensino e que tenham cursado todas as séries - ou anos anteriores do ensino fundamental - exclusivamente em escolas da rede pública de ensino.</p>           
      
{% endblock  %}