<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Minha Postagem</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Meu Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="categoria.html">Categoria</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Postagens</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid mt-5">
      {% for objeto in lista_postagens %}  
        <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="{{  objeto.imagem.url  }}" alt="Imagem do post">
                <div class="card-body">
                  <h5 class="card-title">Título do Post</h5>
                  <p class="card-text">{{ objeto.texto | truncatechars:100 }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <small class="text-muted">Data da Postagem</small>
                    </div>
                    <div>
                      <a href="{% url 'detalhe-postagem' objeto.id %}" class="btn btn-sm btn-outline-secondary">Ver Detalhes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      {%endfor%}  
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
